@import "tailwindcss";

/* ==========================
   Global Reset
========================== */

*,
*::before,
*::after{
  margin:0;
  padding:0;
  box-sizing:border-box;
}

:root{
  --primary:#1d4ed8;
  --secondary:#0891b2;
  --dark:#0f172a;
  --light:#ffffff;
  --gray:#64748b;
}

html{
  scroll-behavior:smooth;
}

body{
  font-family:Arial,Helvetica,sans-serif;
  background:#fff;
  color:var(--dark);
  font-size:16px;
  line-height:1.8;
  overflow-x:hidden;
  -webkit-font-smoothing:antialiased;
  -moz-osx-font-smoothing:grayscale;
}

img{
  display:block;
  max-width:100%;
  height:auto;
}

a{
  text-decoration:none;
  color:inherit;
  transition:.3s;
}

button{
  cursor:pointer;
  transition:.3s;
}

input,
textarea,
select{
  font:inherit;
}

input:focus,
textarea:focus,
select:focus{
  outline:none;
}

h1,
h2,
h3,
h4,
h5,
h6{
  color:var(--dark);
  font-weight:700;
  line-height:1.2;
}

p{
  color:#475569;
  line-height:1.9;
}

section{
  padding:6rem 0;
}

ul{
  list-style:none;
}

::selection{
  background:#2563eb;
  color:#fff;
}

/* Scrollbar */

::-webkit-scrollbar{
  width:10px;
}

::-webkit-scrollbar-track{
  background:#f1f5f9;
}

::-webkit-scrollbar-thumb{
  background:#2563eb;
  border-radius:30px;
}

::-webkit-scrollbar-thumb:hover{
  background:#1d4ed8;
}
